# ======================================
# Nette ================================
php:
	date.timezone: Europe/Prague
	# session.save_path: %tempDir%/session
	# zlib.output_compression: true

latte:
	debugger: %debugMode%

session:
	debugger: %debugMode%
	expiration: '+14 days'
	autoStart: smart

routing:
	debugger: %debugMode%

di:
	debugger: %debugMode%

tracy:
	email: %app.errorEmail%
	strictMode: yes

application:
	catchExceptions: %productionMode%
	errorPresenter: %app.errorPresenter%
	mapping:
		*: App\UI\*Module\*Presenter

http:
	headers:
		X-XSS-Protection: "1; mode=block"
		X-Powered-By: "comgate"

extensions:
	app: App\Model\DI\AppExtension

parameters:
	app:
		errorPresenter: Error
		errorEmail: dev@dev.dev

	comgate:
		merchant: "123456"
		secret: "foobarbaz"
		test: true

services:
	router: App\Model\Routing\RouterFactory::createRouter

	latte.latteFactory:
		setup:
			- addFilter(dump, App\Model\Templating\Filters::dump)

	comgate.comgate:
		class: Comgate\SDK\Comgate
		factory: Comgate\SDK\Comgate::defaults()
		setup:
			- withMerchant(%comgate.merchant%)
			- withSecret(%comgate.secret%)
			- withTest(%comgate.test%)
	comgate.client:
		class: Comgate\SDK\Client
		factory: @comgate.comgate::create()
